[submodule "posts/shazam-playlist-to-youtube-playlist/shazam-playlist-to-youtube-playlist"]
	path = posts/shazam-playlist-to-youtube-playlist/shazam-playlist-to-youtube-playlist
	url = https://github.com/ToKnow-ai/shazam-playlist-to-youtube-playlist.git
[submodule "posts/private-domain-checker/private-domain-checker"]
	path = posts/private-domain-checker/private-domain-checker
	url = https://github.com/ToKnow-ai/private-domain-checker.git
[submodule "domain-for-sale-page"]
	path = domain-for-sale-page
	url = https://github.com/ToKnow-ai/domain-for-sale-page.git
[submodule "posts/balancing-between-paywalls-and-search-engine-optimization/bypassing-nation-media-group-paywall"]
	path = posts/balancing-between-paywalls-and-search-engine-optimization/bypassing-nation-media-group-paywall
	url = https://github.com/ToKnow-ai/bypassing-nation-media-group-paywall.git
[submodule "posts/display-google-analytics-views-using-cloudflare-worker/display-google-analytics-views-using-cloudflare-worker"]
	path = posts/display-google-analytics-views-using-cloudflare-worker/display-google-analytics-views-using-cloudflare-worker
	url = https://github.com/ToKnow-ai/display-google-analytics-views-using-cloudflare-worker.git
