[submodule "posts/shazam-playlist-to-youtube-playlist/shazam-playlist-to-youtube-playlist"]
	path = posts/shazam-playlist-to-youtube-playlist/shazam-playlist-to-youtube-playlist
	url = https://huggingface.co/spaces/ToKnow-ai/shazam-playlist-to-youtube-playlist
[submodule "posts/private-domain-checker/private-domain-checker"]
	path = posts/private-domain-checker/private-domain-checker
	url = https://huggingface.co/spaces/ToKnow-ai/private-domain-checker
[submodule "posts/_add-google-analytics-views/google-analytics-views-cloudflare-worker"]
	path = posts/_add-google-analytics-views/google-analytics-views-cloudflare-worker
	url = https://github.com/ToKnow-ai/google-analytics-views-cloudflare-worker.git
