/* css styles */
.post_action_buttons img {
    max-height: 1.3em
}

.footer .nav-footer-center .footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .nav-footer-center .footer-items li.nav-item {
    margin-bottom: 0.5em;
}

.footer .nav-footer .nav-footer-left,
.footer .nav-footer .nav-footer-right {
    display: none;
}

.disclaimer {
    font-size: small;
}

.navbar-logo {
    max-height: 34px;
}

#quarto-content .thumbnail-image, #quarto-content .figure-img {
    border: 1px solid;
}